# Spring 基础配置
spring:
  # Redis核心配置（Azure Redis - 6379端口/accesskey认证/非SSL）
  data:
    redis:
      host: 10.0.2.7
      port: 6379
      accesskey: jI7B2eul6bHnuDatwwdFvqW088x5lwK9MAzCaDsb00c=
      # 超时配置（统一连接/命令超时）
      timeout: 30000ms
      # Lettuce连接池配置（核心池参数）
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: 30000ms

# 应用配置
server:
  port: 80
  shutdown: immediate

# 日志配置
logging:
  level:
    org.springframework.data.redis: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

azure:
  entra:
    tenant-id: ${AZURE_TENANT_ID}  # 租户ID，可通过环境变量注入 dbc38394-3ce6-4b23-85c6-f6a64f6b904c
    client-id: ${AZURE_CLIENT_ID}  # 应用客户端ID fcd3d5e6-21dd-492a-a4ff-e738c64d8e39
    client-secret: ${MICROSOFT_PROVIDER_AUTHENTICATION_SECRET}  # 应用客户端密钥 RJw8Q~sET4Pzcyf4JA4Mjk2Kf5W40CIVHvbt3ddg
    graph-api-version: v1.0  # Graph API版本